@import "src/assets/styles/mixins";

.card-edit-face {
  margin: 30px auto;
  max-width: 400px;

  @include tablet {
    max-width: 510px;
  }

  @include desktop {
    max-width: 865px;
    margin: 40px auto 0;
  }
}

.form-field {
  display: inline;
}

.avatar-edit {
  width: 100%;

  @include desktop {
    margin-left: 30px;
  }

  &__img {
    width: 100%;
    object-fit: cover;
    margin: 20px auto 0;
    overflow: hidden;
    display: block;

    @include desktop {
      height: 510px;
      width: 322px;
      margin: 0;
    }
  }

  &__button {
    margin: 15px auto 0;
    max-height: 36px;
    border-radius: 5px;
    display: block;
    width: 100%;
  }
}

.form-edit {
  @include desktop {
    display: flex;
  }

  &__textarea {
    min-height: 240px;
  }
}
