@import "src/assets/styles/mixins";

.avatar-add {
  &__button {
    margin: 10px auto 15px;
    max-height: 36px;
    border-radius: 5px;
  }

  &__img {
    width: 100%;
  }
}

.form-field {
  display: inline;

  @include tablet {
    display: inline-block;
  }
}
