<mat-spinner *ngIf="isLoading" [diameter]="50"></mat-spinner>

<div class="users-cards">
  <div class="users-cards__wrap">

    <app-view-face *ngFor="let user of users"
                   class="users-cards__card"
                   [user]="user"
                   (delete)="onDelete(user)">
    </app-view-face>

    <div class="users-cards__empty-card"></div>

    <div class="users-cards__empty-card"></div>
  </div>

  <button class="users-cards__button"
          mat-mini-fab
          color="primary"
          [disabled]="isOffline"
          [routerLink]="'/add'">
    <mat-icon>person_add</mat-icon>
  </button>
</div>

