.users-cards {
  max-width: 980px;
  padding: 0 40px 30px;
  margin: auto;

  &__wrap {
    display: flex;
    flex-wrap: wrap;
  }

  &__card,
  &__empty-card {
    flex: 1 1 33.3333%;
  }

  &__button {
    bottom: 20px;
    right: 20px;
    position: fixed;
  }
}
