<div class="l-container">
</div>

<mat-toolbar class="nav-container" color="primary">
  <div>
    <button class="nav-container__button-home" mat-icon-button
            [routerLink]="'/'"
            [class.disabled]="isOffline"
    >
      <mat-icon>home</mat-icon>
    </button>
  </div>

  <div class="nav-container__mode">
    <div *ngIf="isOffline">
      <mat-icon class="offline-icon">wifi_off</mat-icon>
    </div>

    <a class="nav-container__item"
       *ngIf="!token"
       [routerLink]="'signUp'"
       [class.disabled]="isOffline"
    >
      Sign Up
    </a>

    <a class="nav-container__item"
       *ngIf="!token"
       [routerLink]="'logIn'"
       [class.disabled]="isOffline"
    >
      Log In
    </a>

    <a class="nav-container__item"
       *ngIf="token"
       [class.disabled]="isOffline"
       (click)="onLogoutClick()"
    >
      Log Out
    </a>

    <a class="nav-container__item"
       *ngIf="token"
       [routerLink]="'editUser'"
       [class.disabled]="isOffline"
    >
      Edit User
    </a>


    <mat-icon>light_mode</mat-icon>

    <mat-slide-toggle class="nav-container__toggle"
                      [ngModel]="isDarkThemeEnabled"
                      [disabled]="isOffline"
                      (change)="onChange($event)"
    >
    </mat-slide-toggle>

    <mat-icon>dark_mode</mat-icon>
  </div>
</mat-toolbar>
