<mat-spinner *ngIf="isLoading" [diameter]="50"></mat-spinner>

<mat-card *ngIf="face" class="example-card">
  <div class="wrapper">
    <div class="card-image" mat-card-image>
      <img [src]="face.avatarUrl" alt="">
    </div>

    <div class="l-card">
      <mat-card-title class="card">
        <div class="card__row card__row--title">{{ face.firstName }} {{ face.lastName }}</div>

        <div class="card__row">
          <span class="card__bold-text">{{ face.country }} - {{ face.city }}</span>
        </div>

        <div class="card__row">
          <span class="card__bold-text">{{ face.birthedAt | date }}</span>
        </div>

        <div class="card__row">
          <span class="card__bold-text">{{ face.gender }}</span>
        </div>
      </mat-card-title>

      <mat-card-content class="card__text">
        <p>
          {{ face.story }}
        </p>
      </mat-card-content>
    </div>
  </div>
</mat-card>
