@import "src/assets/styles/mixins";

.example-card {
  min-height: 150px;
  margin: 30px auto;
  max-width: 850px;
  text-align: left;

  @include tablet {
    margin: 220px auto 0;
  }
}

.wrap {
  @include tablet {
    display: flex;
  }
}

.l-card {
  margin: 0 20px;
}

.card {
  justify-content: space-between;

  &__row {
    margin-bottom: 10px;
    font-weight: normal;
    text-align: center;

    @include tablet {
      text-align: left;
    }

    &--title {
      font-weight: 500;
      font-size: 24px;
    }
  }

  &__bold-text {
    font-size: 20px;
    font-weight: 300;
  }

  &__text {
    font-size: 16px;
  }
}

.card-image {
  margin: 0 auto 20px;
  display: flex;
  width: 200px;
  min-width: 200px;

  @include tablet {
    margin: 0;
  }
}

.mat-card-image:first-child {
  margin-top: 0;
}
