@import "src/assets/styles/mixins";

.nav-container {
  height: 64px;

  &__item {
    margin-right: 40px;
    text-decoration: none;
    color: inherit;
    display: none;

    @include tablet {
      display: block;
    }
  }

  &__item.disabled,
  &__button-home.disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.5;
    color: inherit;
  }

  &__icon {
    display: none;

    @include tablet {
      display: block;
    }
  }
}

.offline-icon {
  margin: 20px;
}
