.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 64px;
  padding-bottom: 64px;

  &--absolute {
    position: absolute;
  }
}

.form {
  max-width: 465px;
}

.form-fields {
  text-align: center;

  &__name,
  &__address,
  &__group-radio {
    display: flex;
    justify-content: space-between;
  }

  &__group-label {
    display: flex;
    justify-content: space-evenly;
    min-width: 255px;
    line-height: 60px;
  }

  &__button {
    width: 100%;
    border: 1px solid;
    border-radius: 5px;
  }
}

.form-field {
  max-width: 225px;
  display: inline;
}

.field-textarea {
  min-width: 450px;
  text-align: initial;
  font-size: 16px;
}

.offline-disabled.disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.5;
}
